{% extends 'base.html' %}

{% block title_extra %} - Your Classes{% endblock %}

{% block content %}
    <h2>Your Classes</h2>
    {% if classes|length %}
        <table class="table table-striped">
            <thead class="thead-inverse">
                <tr>
                    <th>Course Code</th>
                    <th>Semester</th>
                    <th>Days</th>
                    <th>Time</th>
                    <th>Delete Class</th>
                </tr>
            </thead>
            <tbody>
              {% for class in classes %}
              <tr>
                  <td>{{ class.class_name }}</td>
                  {% if class.class_semester == "F" %}
                      <td>Fall</td>
                  {% else %}
                      <td>Spring</td>
                  {% endif %}
                  <td>{{ class.class_day }}</td>
                  <td>{{ class.class_time }} {{ class.class_timeframe }}</td>
                  <td><a href="{% url 'delete_class' classId=class.id %}">Delete</a></td>
              </tr>
              {% endfor %}
        </table>
    {% else %}
	You haven't added any classes <a href="{% url 'add_class' %}">yet</a>.
    {% endif %}
{% endblock %}
